/*importar la fuente que usaremos*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*css del body*/
body {
    font-family: 'Poppins', sans-serif; 
    background-image: url(/bg-shape4.svg);
    background-repeat: no-repeat; /* evita que la imagen se repita en los ejes X y Y, sin esto las imagenes se repiten hasta llenar el area del elemento*/
    background-size: cover; /* ajusta el tamaño de la imagen de fondo para que cubra todo el area de la etiqueta body */
    background-attachment: fixed; /* La imagen permanece fija al hacer scroll */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana */
    margin: 0; /* Elimina márgenes por defecto */
}


.form-search { /*trabajaremos en el div que contiene el formulario*/
    margin: 3% 0 5%;
    justify-content: center;/*justificamos el contenido para que se centre*/
    display: flex;/*damos propiedad de flexbox*/
    flex-direction: column; 
}

.form-search input[type='text']{
    font-family: inherit;
    padding: 9px 17px;/*damos padding*/
    font-size: 20px;/*damos tamaño de fuente*/
    border-radius: 15px 0px 0px 15px;
    background-color: #fff;
    color: #000;
    border: 0;
    cursor: pointer;/*modifcamos el cursor*/
}

.form-search input[type='submit']{
    font-size: 20px;
    padding: 12px 18px;/*damos padding*/
    border-radius: 0px 15px 15px 0px;/*modificamos el radio*/
    background-color: #000;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.form-search input[type='submit']:hover{
    background-color: #483f3f;
}


.form-search h2 {
    font-size: 50px; /*cambiamos tamaño de fuente*/
}

.App {
    text-align: center; /*alineamos la pocicion del texto*/
    margin: 0 8% 4%; /*damos margin en porcentajes*/
}

.movies-content {
    display: flex; /*establecemos el display de tipo flexbox*/
    flex-wrap: wrap;/*permite que los elementos hijos se pasen a una fila inferior, este cambio es influenciado por el tamaño del contenedor*/
    gap: 30px;/*establece un espacio entre cada elemento hijo del contenedor de forma vertical e horizontal*/
    justify-content: center; /*justificamos elcontenido al centro*/
}

.item-movie {
    /*aqui definiremos el css para cada elemento movie*/
    width: 250px;/*damos largo de 250px*/
    height: 300px;/*damos largo*/
    background-size: cover;/* ajustamos el elemento del fondo al tamaño del contenedor*/
    border-radius: 15px;
    display: flex;
    align-items: flex-end; /*esta propiedad alinea en el eje y , en este caso al final*/
}

.item-movie:hover > .info {
    color: #fff;
    background-color: black;
}

.info {
    background-color: #ffffffd9;
    width: 100%;/*ajustamos el largo para que ocupe el 100% del contenedor*/
    padding: 10px 30px;/*damos padin horizontal y vertical para que haya una separacion entre el borde del contenedor info y su contenido*/
    height: 87px;/*ajustamos el alto del contenedor*/
    display: flex;/*damos un display de flex*/
    flex-direction: column;/*ajustamos la direccion del flex*/
    justify-content: space-around;/*justificamos el contenenido para que se ajuste con un espacio al rededor de el*/
    border-radius: 0px 0px 15px 15px;
    transition: .7s;/*damos una transisicon al hover de .7 s*/
}

.info p {
    margin: 0;
}
.info p span {
    text-decoration: none;
}
.info h4 {
    margin: 0 0 8px;
    line-height: 19px;
}

.row-info {
    display: flex;
    justify-content: space-between
}

/* single movie */
.single-movie {
    display: flex;
    gap: 25px;
    margin: 7% 0 3%;
    justify-content: center;
}
.single-movie .single-info {
    width: 500px;
    text-align: left;
    background-color: #ffffff9e;
    padding: 13px 25px;
    border-radius: 15px;
}
.single-movie .single-info h2 {
    font-size: 40px;
    line-height: 42px;
    margin-top: 0;
}
.single-movie img {
    border-radius: 15px;
    object-fit: cover;
    width: 300px;
}

/* loading animation */
@keyframes spinner {
    to  {
        transform: rotate(360deg);
    }
}
.loading {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    margin-top:  10rem;
    border-radius: 50%;
    border: 8px solid #000;
    border-top-color: #FCAF3C;
    animation: spinner .6s linear infinite;
}

p.author {
    display: flex;
    justify-content: center;
    FONT-VARIANT: JIS04;
    margin-top: 3%;
    gap: 7px;
    color: #fff;
}
p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}